ENV=local #local #dev #prod #test
PREFIX=boilerplate

PORT=3050
LOGGING_LEVEL=DEBUG
SERVICE_NAME=boilerplate

# CORSS_ORIGIN
CORSS_ORIGIN_RESOLVE=true
ALLOW_CREDENTIALS=true
ALLOW_ORIGIN=https://py3-http-boilerplate.local
ALLOW_METHODS=POST, GET, PUT, PATCH, DELETE, OPTIONS
ALLOW_HEADERS=Content-Type
MAX_AGE=86400
VARY=Origin
CACHE_CONTROLL=private, must-revalidate


# MEMCACHED
MEMCACHED_ENABLE=0


# CRYPT
CRYPT_KEY=key
CRYPT_LEN=64
CRYPT_ALPHABET=0123456789abcdef