aiohttp==3.8.3
async-timeout
attrs==19.3.0
jsonschema==3.2.0
python-dotenv==0.14.0
requests
typing-extensions==3.7.4.2
super-case-converter-2000
pymongo
pytest
pytest-aiohttp
pytest_mock_resources
pytest-mock
cryptography